.cardWrapper {
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  width: 1.5in;
  height: 1.9in;
}

.deck {
  grid-area: deck;
}

.flop {
  grid-area: theFlop;
}
.turn {
  grid-area: theTurn;
}
.river {
  grid-area: theRiver;
}
