.pokerWrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "opponent"
    "game"
    "player";
}

.opponent,
.myHand {
  display: flex;
  justify-content: center;
}

.oponent {
  grid-area: opponent;
}

.myHand {
  grid-area: player;
}

.gamePlay {
  grid-area: game;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 200px;
  grid-template-areas: "deck theFlop theTurn theRiver controls";
}
