.pokerWrapper {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "opponent"
    "game"
    "player";
}

.opponent,
.myHand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.oponent {
  grid-area: opponent;
}

.myHand {
  grid-area: player;
  display: flex;
}

.cards {
  display: flex;
  flex-direction: row;
}
.gamePlay {
  grid-area: game;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "deck . theFlop theTurn theRiver  . controls  controls";
}
