.wrapper {
  grid-area: minesweeper;

  min-height: 45vh;
  padding: 10px;
  display: flex;
  border-radius: 48px;
  background: #2c2c2c;
  box-shadow: 20px 20px 40px #1d1d1d, -20px -20px 40px #3b3b3b;
}

.minefieldWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.minefieldWrapper > h1 {
  text-align: center;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: beige;
  color: black;
  border-radius: 10px 10px 0 0;
}

.mineField {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
